$colorFondoPrincipal:rgb(0, 0, 0);
$colorCabeceraTarjeta: #131313;
$colorTexoNav: rgb(255, 255, 255);
$gradienteHover: linear-gradient(to left ,#8F6DD5,#8182EF,#6789E4);
$efectoSombra: 2px 5px 6px rgba(0,0,0,.2);
