<div class="main">
    <div class="card">
        <div class="cardHeader">
            <h2>Bienvenidos al Dojo Afdam</h2>
        </div>
        <div class="img-card">
            <img src="../../assets/imagenes/cardio_fit_bag_afdam_slider_02a.jpg" alt="imagen de cabecera de la pagina de inicio" >
        </div>
        <div class="content">
            <button class="btn" type="button" routerLink="/login">Iniciar Sesión</button>
            <button class="btn" type="button" routerLink="/signin">Registrarse</button>
        </div>
    </div>
</div>
