<div class="main">
    <div class="card">
        <div class="cardHeader">
            <h3>Bienvenido al Dojo <!--{{username}}--></h3>
        </div>
        <div class="content">
            <div class="img-card">
                <img src="../../../assets/imagenes/Gonzalo_Avatar.svg"
                    alt="imagen del alumno logeado">
            </div>
            <div class="informe">
                <h3>{{username}} Gon</h3>
                <h4><!--{{disciplina}}-->MMA</h4>
            </div>
            <div class="pago">
                <p>Faltan 7 días para el próximo pago</p>
            </div>
            <div class="card-botones">
                <button class="btn">Avisos</button>
                <button class="btn">Modificar Mis Datos</button>
                <button class="btn">Modificar Password</button>
                <button class="btn">Cerrar Sesión</button>
            </div>
        </div>
    </div>
</div>
